@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body{
    background-color: rgb(171, 253, 178);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(34, 116, 40);
    font-size: 30px;
    text-shadow: 2px 2px 2px rgb(16, 56, 19);
    text-decoration: underline;
}

h1#principal{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3em;
    color: rgb(171, 253, 178);
    background-image: linear-gradient(to right, rgb(171, 253, 178),rgb(34, 116, 40),green,rgb(34, 116, 40),rgb(171, 253, 178));
    text-align: center;
    border-radius: 10px;
    margin: auto;
    margin-top: -10px;
    text-decoration: none;
    
}

h2{
    color: rgb(16, 56, 19);
    font-size: 20px;
    text-shadow: 2px 2px 2px green;
}

p{
    text-align: justify;
    color: rgb(16, 56, 19);
}

ul li{
    text-align: justify;
    color: rgb(16, 56, 19);
}

a{
    text-align: justify;
    color: rgb(16, 56, 19);
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color: black;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: rgb(34, 116, 40);
}

a::before{
    content: '» ';
}

a::after{
    content: ' «';
}

main{
    /*background-color: rgba(255, 255, 255, 0.5);*/
    background-image: radial-gradient(circle,rgb(34, 116, 40),rgb(171, 253, 178),rgb(171, 253, 178));
    padding: 15px;
    margin: 10px auto;
    width: 600px;
    border-radius: 0px 30px 0px 30px;
    box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.5);
}

footer p{
    text-align: center;
    border-top: 1px rgb(16, 56, 19) solid;
    margin: auto;
    margin-bottom: -30px;  
    padding: 20px;
    width: 900px;
    background-image: linear-gradient(to right,rgb(171, 253, 178),rgb(171, 253, 178), rgb(34, 116, 40),rgb(171, 253, 178),rgb(171, 253, 178));
    color: rgb(171, 253, 178);
}